# Crime Data Exploratory Data Analysis - Los Angeles

> Setup and Data Loading

In [23]:
import pandas as pd

In [24]:
df_crimes = pd.read_csv('dataset/crimes.csv',parse_dates=['Date Rptd','DATE OCC'], dtype={"TIME OCC": str})

basic dataset info

In [ ]:
df_crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST

In [26]:
df_crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185715 entries, 0 to 185714
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DR_NO         185715 non-null  int64
 1   Date Rptd     185715 non-null  datetime64[ns]
 2   DATE OCC      185715 non-null  datetime64[ns]
 3   TIME OCC      185715 non-null  object
 4   AREA NAME     185715 non-null  object
 5   Crm Cd Desc   185715 non-null  object
 6   Vict Age      185715 non-null  int64
 7   Vict Sex      185704 non-null  object
 8   Vict Descent  185705 non-null  object
 9   Weapon Desc   73502 non-null   object
 10  Status Desc   185715 non-null  object
 11  LOCATION      185715 non-null  object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 17.0+ MB

data cleaning

>standardize time format and extract hour

In [ ]:
df_crimes['HOUR'] = df_crimes['TIME OCC'].str.zfill(4).str[:2].astype(int)

>check for missing values

In [35]:
missing_data = df_crimes.isnull().sum()
missing_data

DR_NO                0
Date Rptd            0
DATE OCC             0
TIME OCC             0
AREA NAME            0
Crm Cd Desc          0
Vict Age             0
Vict Sex            11
Vict Descent        10
Weapon Desc     112213
Status Desc          0
LOCATION             0
HOUR                 0
dtype: int64

In [ ]:
df_crimes['Vict Sex'].fillna('Unknown', inplace=True)
df_crimes['Vict Descent'].fillna('Unknown', inplace=True)

In [ ]:
df_crimes['Weapon Desc'].fillna('No Weapon/Unknown', inplace=True)